build/bin
node_modules
frontend/dist
.codex
.agents
.claude
.github
CLAUDE.md

runtime/linux/**/*
runtime/logs/**/*
runtime/pids/**/*

!runtime/linux/**/
!runtime/logs/**/
!runtime/pids/**/

!runtime/linux/**/.gitkeep
!runtime/logs/**/.gitkeep
!runtime/pids/**/.gitkeep
